@import './src/SCSS/mixins';
@import './src/SCSS/variables';

input, textarea {
  width: 100%;
  display: block;
  padding: 12px 0;
  font-size: 15px;
  height: auto;
  font-family: $fontText;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: $secondColor;
  color: $fontColor;
  outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active{
  -webkit-text-fill-color: $fontColor;
  -webkit-box-shadow: 0 0 0 1000px $secondColor inset;
}
textarea {
  resize: none;
}
input::placeholder, textarea::placeholder {
  color: #94a2c6;
}

.form {
  display: flex;
  flex-direction: column;

  .rowForm {
    flex-basis: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    position: relative;
    .textRequired {
      color: rgba(255, 000, 000, 0.6);
      font-size: 15px;
      position: absolute;
      right: 3px;
      top: 14px;
    }
  }

  .top {
    display: flex;
    justify-content: space-between;
    @media (max-width: 990px) {
      flex-direction: column;
    }

    .name {
      flex-basis: 48%;
      @media (max-width: 990px) {
        width: 100%;
      }
    }

    .email {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      flex-basis: 48%;
      position: relative;
      @media (max-width: 990px) {
          width: 100%;
      }
    }
    .required {
      color: rgba(255, 000, 000, 0.6);
      font-size: 15px;
      position: absolute;
      right: 3px;
      top: 12px;
    }
  }

  .sendButton {
    width: 100%;
    background: $thirdColor;
    border: 1px solid $thirdColor;
    padding: 6px 28px;
    border-radius: 4px;
    @include font(14px, 200);
    text-transform: uppercase;
    outline: none;
    margin-top: 13px;
    cursor: pointer;

    &:hover, &:active {
      background: $secondColor;
      transition-duration: 0.5s;
    }
  }
  .disabledBtn {
    background-color: #89b9ff;
    &:hover, &:active {
      background-color: #89b9ff;
    }
  }
}

