@import './src/SCSS/mixins';
@import './src/SCSS/variables';

input, textarea {
  width: 100%;
  display: block;
  padding: 12px 0;
  font-size: 15px;
  height: auto;
  font-family: $fontText;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: $secondColor;
  color: $fontColor;
  outline: none;
}
textarea {
  resize: vertical;
}
input::placeholder, textarea::placeholder {
  color: #94a2c6;
}

.form {
  display: flex;
  flex-direction: column;
  .rowForm {
    flex-basis: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .top {
    display: flex;
    justify-content: space-between;
    .name {
      flex-basis: 48%;
    }
    .email {
      flex-basis: 48%;
    }
  }
  .sendButton {
    width: 100%;
    background: $thirdColor;
    border: 1px solid $thirdColor;
    padding: 6px 28px;
    border-radius: 4px;
    @include font(14px, 200);
    text-transform: uppercase;
    outline: none;
    margin-top: 10px;
    cursor: pointer;
    &:hover, &:active {
      background: $secondColor;
      transition-duration: 0.5s;
    }
  }
}

@media (max-width: 990px) {
  .form {
    .top {
      flex-direction: column;
      .name {
        width: 100%;
      }
      .email {
        width: 100%;
      }
    }
  }
}