@import './src/SCSS/mixins';
@import './src/SCSS/variables';

.skill {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $secondColor;
  border-radius: 4px;
  transform: rotate(-45deg);
  @media (max-width: 975px) {
    margin-bottom: 90px;
  }

  .inner {
    text-align: center;
    transform: rotate(45deg);

    .title {
      @include fontTitle(20px, 500);
      line-height: 30px;
      margin-top: 20px;
    }
  }
}







