@import "./../../SCSS/variables";
@import "./../../SCSS/mixins";

.greeting {
  @include flexBox(space-between);
  @media (max-width: 990px) {
    flex-direction: column;
  }

  .photo {
    flex-shrink: 0;
    max-width: 430px;
    width: 100%;
    background: $secondColor;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    @media (max-width: 990px) {
      max-width: 450px;
    }
    @media (max-width: 750px) {
      max-width: 400px;
    }
    @media (max-width: 600px) {
      padding: 10px;
      max-width: 350px;
    }
    @media (max-width: 450px) {
      max-width: 300px;
    }

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 200%;
      top: -100px;
      left: -100px;
      background: $thirdColor;
      transform: rotate(-30deg);
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 10px;
      position: relative;
      z-index: 1;
    }
  }

  .textRight {
    margin-left: 20px;
    @media (max-width: 990px) {
      margin-left: 0px;
      margin-top: 30px;
    }

    .hello {
      background: $thirdColor;
      @include font(16px, 600);
      text-transform: uppercase;
      padding: 3px 10px;
      position: relative;

      &:after {
        position: absolute;
        content: '';
        bottom: -10px;
        left: 5px;
        width: 0;
        height: 0;
        border-top: 0px solid transparent;
        border-left: 10px solid #4c84ff;
        border-bottom: 10px solid transparent;
      }
    }

    .name {
      @include fontTitle(40px, 700);
      margin-top: 20px;
      margin-bottom: 0;
      @media (max-width: 450px) {
        @include fontTitle(26px, 700);
      }

      span {
        color: $thirdColor;
      }
    }

    .positionTitle {
      @include fontTitle(22px, 700);
      margin-top: 20px;
      margin-bottom: 0;
      @media (max-width: 450px) {
        @include fontTitle(18px, 700);
        margin-top: 15px;
      }
    }

    .info {
      margin-top: 20px;
      margin-bottom: 20px;
      color: $fontColor;
      font-weight: 400;
      @media (max-width: 450px) {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 15px;
        font-weight: 300;
      }
    }

    .buttons {
      display: flex;
      @media (max-width: 450px) {
        flex-direction: column;
        align-items: flex-start;
      }

      .buttonLink {
        text-decoration: none;
        @media (max-width: 450px) {
          margin-bottom: 15px;
        }
      }
    }
  }
}

