.skillsBlock {
  min-height: 100vh;
  background-color: #c6f8c6;
}
.skillsContainer {
  flex-direction: column;
  justify-content: flex-start;
}
.title {
  background-color: lavender;
  }
.skills {
  border: 1px solid;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 780px) {
  .skills {
    justify-content: center;
  }
}