@import './src/SCSS/variables';
@import './src/SCSS/mixins';

.skillsBlock {
  @include wrapper();

  .title {
    @include blockTitle();
    @media (max-width: 650px) {
      margin-bottom: 55px;
    }
  }

  .skills {
    @media (max-width: 975px) {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .row {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 90px;
      @media (max-width: 975px) {
        display: block;
        margin-top: 50px;
      }
      @media (max-width: 650px) {
        margin-top: 0;
      }
    }
  }
}





