@import './src/SCSS/variables';
@import './src/SCSS/mixins';

.mainBlock {
  @include wrapper();
  //border: 1px solid;
  position: relative;
  @media (max-width: 750px) {
    padding-bottom: 30px;
  }

  .fixedWrapper {
    position: absolute;
    width: 50px;
    height: auto;
    right: 15px;
    top: 15px;
  }
}








