@import './variables';


@mixin font ($fontSize, $fontWeight) {
  font-family: $fontText;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: 26px;
  color: #fff;
}

@mixin fontTitle($fontSize, $fontWeight) {
  font-family: $fontTitle;
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $fontColor;
  text-transform: uppercase;
}

@mixin wrapper() {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 70px 20px;
  display: flex;
  flex-direction: column;
  @media (max-width: 550px) {
    padding: 50px 7px;
  }
}

@mixin flexBlockForCards() {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin blockTitle() {
  @include fontTitle(45px, 700);
  align-self: center;
  line-height: 55px;
  margin-top: 0;
  margin-bottom: 12px;
  span {
    color: $thirdColor;
  }
  @media (max-width: 400px) {
    font-size: 36px;
  }
}

@mixin card($flexBasis) {
  flex-basis: $flexBasis;
  background: $secondColor;
  border-radius: 10px;
  margin-bottom: 30px;
}

@mixin flexBox($justify) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

@mixin contactsFormMapBox() {
  max-width: 48%;
  width: 100%;
  background: $secondColor;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 20px;
  @media (max-width: 1193px) {
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  @media (max-width: 550px) {
    padding: 7px;
  }
}

@mixin toggleSpan() {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -14px;
  width: 28px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 2px;
}