.footerBlock {
  background-color: wheat;
}

.footerContainer {
  flex-direction: column;
}

.title {
  background-color: lavender;
}
.links {
  border: 1px solid;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.link {
  width: 40px;
  height: 40px;
  background-color: slategrey;
}
.copyrights {
  background-color: lavender;
}
@media (max-width: 780px) {
  .links {
    width: 60%;
  }
}
@media (max-width: 540px) {
  .links {
    width: 80%;
  }
}
