.projectsBlock {
  min-height: 100vh;
  background-color: #ffeb90;
}
.projectsContainer {
  flex-direction: column;
  justify-content: flex-start;
}
.title {
  background-color: lavender;
}
.projects {
  border: 1px solid;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 780px) {
  .projects {
    justify-content: center;
  }
}
